# Android Studio
*.iml
.gradle/
local.properties
/.idea/
/captures/
/build/
/.externalNativeBuild/
/.cxx/

# Mac OS
.DS_Store

# Android
*.apk
*.ap_
*.keystore

# NDK
obj/

# Others
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.kotlin/


