<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDUNSA_APP"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".equipo.EquipoAddActivity"
            android:exported="false" />
        <activity
            android:name=".reglamento.ReglamentoHomeActivity"
            android:exported="false" />
        <activity
            android:name=".torneo.TorneoHomeActivity"
            android:exported="false" />
        <activity
            android:name=".torneo.TorneoEditActivity"
            android:exported="false" />
        <activity
            android:name=".torneo.TorneoAddActivity"
            android:exported="false" />
        <activity
            android:name=".evento.EventHomeActivity"
            android:exported="false" />
        <activity
            android:name=".evento.EventEdit"
            android:exported="false" />
        <activity
            android:name=".evento.EventAdd"
            android:exported="false" />
        <activity
            android:name=".evento.EventsNewActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".inicio.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".inicio.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".inicio.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>